@import "tailwindcss";

h1{
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 600;
    white-space: nowrap;
    text-transform: capitalize;
}
