body {
  background-color: #111;
  color: #fff;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 180px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p {
  margin: 20px 0px;
}

.card img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
