body {
  background-color: whitesmoke;
  /* color: black; */
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, 50%);
  font-size: 50px;
  /* text-decoration: underline; */
  white-space: nowrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
  color: black;
  text-decoration: none;
}
