button {
  width: 100px;
  height: 30px;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  margin: 10px;
}

h1 {
  background-color: gainsboro;
  font-size: 50px;
  margin: 20px;
}
