body {
  background-color: #f0f0f0;
}

.parent {
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 250px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top img {
  height: 25px;
  width: 32px;
  border: 1px solid #9d9d9d;
  border-radius: 50%;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #9d9d9d;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 12px;
  background-color: #ededed;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 5px;
}

.center h3 {
  font-size: 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #b1b1b1;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 1px;
}

.bottom button {
  background-color: #1c1c1c;
  color: whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.bottom h3 {
  font-size: 17px;
}

.bottom p {
  font-size: 12px;
  color: #9e9e9e;
}
